/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 275px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 100; /* Stay on top */
    text-align: center;
    align-content: center;
    background-color: rgb(241, 241, 241); /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }

/* .card {
    margin-left: 35%;
} */

.main {
  margin-left: 275px;
}

.custom-card {
  background-color: rgb(37, 118, 223);
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
div.card{
  border: none;
}
  
.form-control {
  margin: 10px;
}

